.header {
  background-color: #24292e;
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 0;
}
.navbar {
  background-color: transparent;
}
.header__logo {
  
}
.header__img {
  width: 64px;
}
.header__title {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Indie Flower', cursive;
}