.header {
  background-color: #24292e;
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 0;
}
.navbar {
  background-color: transparent;
}
.header__img {
  width: 64px;
}
.header__title {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Indie Flower', cursive;
}

/* Menu */
.menu {
  font-family: 'Indie Flower', cursive;
}
.menu .menu-label {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}
.menu a {
  font-size: 1.2rem;
}
 